
@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}
html body{
    background-color: #CFD8DC  ;
}

/* Estilo para el header */
header{
    padding-top: 0.7em;
    background-color: #8d624f;
}
header i {
    margin: 0 15px;
    color: black;
}
.menu{		
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
.menu button{
    color: #8d624f;
    font-size: 20px;
    font-weight:bold;
    margin: 0 15px;
    border-color: transparent;
}



main {
    padding: 20px;
}

h2 {
    margin-top: 20px;
}

.faq,
.soporte {
    background-color: #fff;
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    background-color: #7bb8b6;
}

.pregunta {
    margin-bottom: 10px;
}

.pregunta h4 {
    font-weight: bold;
}

.soporte {
    text-align: center;
}






main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #4DB6AC;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
}
